@import "tailwindcss";
/* tabla */
#app {
    @apply
    font-sans
    antialiased
    text-left
    text-black
    mt-0
    w-full 
    max-w-full 
    m-0 p-0
    text-sm
    lg:text-base
    2xl:text-base
}
.bar {
    @apply 
    sticky shrink-0 flex flex-col
    overflow-y-auto z-20
    text-white
    bg-green-500
    gap-5
    p-2
    sm:p-4
    md:p-4
    lg:p-2
    xl:p-2
    2xl:p-5
    h-auto
    sm:h-screen
    top-15
    sm:top-10
    md:top-12
    lg:top-12
    xl:top-12
    2xl:top-10
}
.carta {
    @apply
    flex flex-col
    shrink-0 snap-center
    items-center text-center
    overflow-hidden
    bg-gradient-to-bl from-green-200 to-green-200/20
    rounded-2xl shadow-md
    h-auto
    p-2
    md:p-4
    w-36
    sm:w-60
    md:w-70
    lg:w-75
    xl:w-80
    2xl:w-90
    m-2
}
.cartabanner {
    @apply
    flex flex-col
    relative cursor-grab active:cursor-grabbing
    shrink-0 snap-center
    items-center text-center
    overflow-hidden
    bg-gradient-to-bl from-green-200 to-green-200/20
    rounded-2xl shadow-md
    h-auto
    p-2
    md:p-4
    w-36
    sm:w-60
    md:w-70
    lg:w-75
    xl:w-80
    2xl:w-90
    m-2
}
.cartabannerdel {
    @apply
    flex flex-col
    relative cursor-grab active:cursor-grabbing
    shrink-0 snap-center
    items-center text-center
    overflow-hidden
    bg-gradient-to-bl from-red-500 to-green-200/20
    rounded-2xl shadow-md
    h-auto
    p-2
    md:p-4
    w-36
    sm:w-60
    md:w-70
    lg:w-75
    xl:w-80
    2xl:w-90
    m-2
}
.cuerpo{
    @apply
    w-full
    min-h-screen
    bg-green-200
}
.fondo {
    @apply 
    flex fixed inset-0
    justify-center items-center
    bg-black/70
    z-40
}
form{
    @apply
    flex flex-col
    gap-2
    lg:gap-3
    2xl:gap-3
}
.pagina {
    @apply
    flex flex-col
    bg-gradient-to-tr from-white to-green-300
    w-full
    min-h-screen
    mx-0
    gap-0
    lg:gap-3
    2xl:gap-3
    justify-start
    items-start
    sm:items-center
    md:items-center
    lg:items-center
    xl:items-center
    2xl:items-center
    sm:to-blue-600
    md:to-pink-600
    lg:to-yellow-600
    xl:to-purple-600
    2xl:to-red-600
}
.pestaña {
    @apply
    flex-initial 
    text-white
    hover:bg-green-100
    hover:text-black
    active:bg-green-400 
    p-0
    lg:p-2
    2xl:p-3
}
.popup{
    @apply
    flex flex-col
    translate-z-15 z-50
    bg-gradient-to-tr from-green-200 to-green-300
    rounded-lg
    overflow-y-auto
    sm:overflow-y-auto
    md:overflow-y-auto
    lg:overflow-y-auto
    xl:overflow-y-auto
    2xl:overflow-y-auto
    p-5
    sm:p-10
    md:p-8
    lg:p-8
    xl:p-10
    2xl:p-15
    gap-3
    sm:gap-3
    md:gap-3
    lg:gap-3
    xl:gap-4
    2xl:gap-4
    max-h-full
    max-w-[90vh]
}
.start{
    @apply
    flex-1 flex flex-col
    min-w-0
    h-fit
    pt-2
    sm:pt-2
    md:pt-2
    lg:pt-2
    xl:pt-2
    2xl:pt-2
    px-0
    gap-2
    sm:gap-2
    md:gap-2
    lg:gap-2
    xl:gap-2
    2xl:gap-2
}
.tab {
    @apply
    flex
    overflow-hidden justify-between
    bg-gradient-to-bl from-green-800/10 to-green-100
    rounded-2xl shadow-md
    p-4
    max-h-fit
    w-full items-center gap-4
}
table {
    @apply 
    w-full
    table-fixed
    text-center
}
table th {
    @apply 
    truncate 
    text-[8px]
    lg:text-base
    2xl:text-base
    p-0
    lg:p-2
    2xl:p-4
    font-normal
    lg:font-bold
    2xl:font-bold
    break-words
    bg-green-800
    text-white
}
table td {
    @apply 
    truncate
    p-0
    lg:p-3
    2xl:p-4
    text-[8px]
    lg:text-base
    2xl:text-base
    border border-gray-800
    bg-green-100
    max-w-0
}
.troncodentro{
    @apply
    flex flex-col
    translate-z-15 z-50
    bg-gradient-to-tr from-green-200 to-green-300
    rounded-lg
    overflow-y-auto
    sm:overflow-y-auto
    md:overflow-y-auto
    lg:overflow-y-auto
    xl:overflow-y-auto
    2xl:overflow-y-auto
    p-20
    sm:p-10
    md:p-8
    lg:p-8
    xl:p-10
    2xl:p-15
    gap-3
    sm:gap-3
    md:gap-3
    lg:gap-3
    xl:gap-4
    2xl:gap-4
    max-h-full
    max-w-[90vh]
}
/* texto */
.busqueda {
    @apply
    object-contain
    cursor-text
    bg-green-100 bg-gradient-to-br from-green-200 to-green-100
    border-black border-1 rounded-xl
    text-base text-left
    w-full
    p-2
    lg:p-2
    2xl:p-3
    mb-5
}
h1 {
    @apply
    text-black
    text-xl
    sm:text-xl
    md:text-2xl
    lg:text-2xl
    xl:text-2xl
    2xl:text-3xl
    font-bold  
    font-['Oswald']
    p-1
    lg:p-2
    2xl:p-3
    select-none
}
h2 {
    @apply
    text-black
    font-['Josefin_Sans']
    text-xl
    sm:text-base
    md:text-base
    lg:text-base
    xl:text-base
    2xl:text-base
    select-none
}
h3 {
    @apply
    text-black
    font-['Josefin_Sans']
    text-lg
    sm:text-base
    md:text-base
    lg:text-base
    xl:text-base
    2xl:text-base
    select-none
}
h4 {
    @apply
    text-3xl
    sm:text-2xl
    md:text-2xl
    lg:text-2xl
    xl:text-2xl
    2xl:text-3xl
    font-bold  
    font-['Oswald']
    p-1
    lg:p-2
    2xl:p-3
    select-none
}
input{
    @apply
    place-self-center
    cursor-text
    text-gray-700 text-center font-semibold
    bg-green-100
    border-green-800 rounded-sm border-2
    w-full
    p-1
    px-2
    lg:px-2
    2xl:px-2
    text-xl
    sm:text-base
    md:text-base
    lg:text-base
    xl:text-base
    2xl:text-base
}
input[type="number"] {
    @apply
    place-self-center
    cursor-text
    text-gray-700 text-center font-semibold
    bg-green-100
    border-green-800 rounded-sm border-1
    text-xl
    sm:text-base
    md:text-base
    lg:text-base
    xl:text-base
    2xl:text-base
    w-full
    p-1
    px-2
    lg:px-2
    2xl:px-2
}
input[type="radio"] {
    @apply 
    w-3
    lg:w-5
    2xl:w-7
}
.item {
    @apply
    self-center
    p-0
    lg:p-2
    2xl:p-5
}
label {
    @apply
    select-none
}
select{
    @apply
    place-self-center
    cursor-pointer
    text-gray-400 text-center font-semibold
    bg-green-100 
    border-green-800 rounded-sm border-1
    text-base
    lg:text-base
    2xl:text-base
    w-full
    p-1
    px-2
    lg:px-2
    2xl:px-2
}
/* botones */
.botona {
    @apply 
    text-green-500 text-center
    bg-gray-600
    cursor-pointer
    rounded-2xl
    text-lg
    lg:text-xl
    2xl:text-2xl
    px-1
    lg:px-4
    2xl:px-5
    py-0
    hover:text-gray-200
    hover:bg-gray-800
    active:bg-gray-100
    disabled:text-gray-200 
    disabled:bg-gray-100 
    disabled:cursor-not-allowed
}
.botonc {
    @apply
    text-white text-center
    bg-red-600 bg-gradient-to-br from-red-400 to-red-800
    cursor-pointer
    rounded-3xl
    px-2
    lg:px-5
    2xl:px-10
    py-5
    lg:py-3
    2xl:py-2
    text-xl
    sm:text-base
    md:text-base
    lg:text-base
    xl:text-base
    2xl:text-base
    hover:text-gray-200
    hover:from-red-800 
    hover:to-red-500
    active:text-black
    active:from-red-400 
    active:to-red-200
    disabled:text-gray-500 
    disabled:from-gray-300 
    disabled:to-gray-400
}
.botoncon {
    @apply
    text-green-100 text-center font-bold
    bg-gradient-to-br from-green-400 to-green-800
    rounded-3xl
    cursor-pointer
    px-2
    lg:px-5
    2xl:px-6
    py-5
    lg:py-3
    2xl:py-2
    text-xl
    sm:text-base
    md:text-base
    lg:text-base
    xl:text-base
    2xl:text-base
    hover:text-white
    hover:from-green-800 
    hover:to-green-500
    active:text-black
    active:from-green-400 
    active:to-green-200
    disabled:text-gray-400 
    disabled:from-gray-300 
    disabled:to-gray-400
    disabled:cursor-not-allowed
}
.botones {
    @apply
    flex
    flex-row
    lg:flex-col
    justify-center
    items-center
    p-0
    lg:p-2
    2xl:p-3
    gap-1
    lg:gap-2
    2xl:gap-3
}
.botonflecha {
    @apply
    bg-green-100/50 
    text-center
    cursor-pointer
    rounded-3xl
    px-3
    sm:px-3
    md:px-3
    lg:px-3
    xl:px-3
    2xl:px-3
    py-10
    sm:py-8
    md:py-10
    lg:py-12
    xl:py-12
    2xl:py-15
    hover:text-gray-200
    hover:bg-green-300/40
    active:bg-gray-100
    disabled:text-gray-400/0
    disabled:bg-gray-300/0
    disabled:cursor-default 
}
.botonflechagrande {
    @apply
    bg-linear-to-r from-green-700 to-green-800
    text-white text-center
    border-4 border-green-500
    cursor-pointer
    rounded-xl
    lg:px-3
    2xl:px-3
    lg:py-1
    2xl:py-25
    m-3
    hover:text-gray-200
    hover:from-green-300/60
    hover:to-green-400/60
    hover:border-green-200/60
    active:from-green-100 
    active:to-green-300
    active:border-green-50
    disabled:text-gray-400/0
    disabled:from-green-100/0
    disabled:to-green-300/0
    disabled:cursor-default 
    disabled:border-green-500/0
}
.botonfil {
    @apply
    text-white text-center
    bg-green-700 
    rounded-xl
    cursor-pointer
    px-0
    sm:px-3
    md:px-3
    lg:px-3
    xl:px-4
    2xl:px-4
    py-2
    sm:py-2
    md:py-2
    lg:py-2
    xl:py-3
    2xl:py-3
    hover:text-white
    hover:bg-green-600
    active:bg-green-300
    disabled:text-gray-500 
    disabled:from-gray-300 
    disabled:to-gray-400
    disabled:cursor-not-allowed
}
.botonnew {
    @apply
    text-white text-center
    bg-gray-600 
    rounded-xl
    cursor-pointer
    px-0
    lg:px-4
    2xl:px-4
    py-2
    lg:py-3
    2xl:py-2
    hover:text-white
    hover:bg-gray-500
    active:text-black
    active:bg-gray-300
    disabled:text-gray-500 
    disabled:from-gray-300 
    disabled:to-gray-400
    disabled:cursor-not-allowed
}
.botonpestaña {
    @apply
    font-['Josefin_Sans']
    text-white text-center
    bg-gradient-to-br from-green-800 to-green-800
    cursor-pointer
    text-xl
    sm:text-base
    md:text-base
    lg:text-base
    xl:text-base
    2xl:text-base
    px-2
    lg:px-5
    2xl:px-10
    py-5
    sm:py-2
    md:py-3
    lg:py-3
    xl:py-3
    2xl:py-2
    hover:text-black
    hover:from-green-100 
    hover:to-green-300
    active:bg-green-100
    disabled:text-black
    disabled:from-gray-300 
    disabled:to-gray-400
    disabled:cursor-not-allowed
}
.botont {
    @apply
    text-white text-center
    bg-gray-600  bg-gradient-to-br from-gray-400 to-gray-800
    cursor-pointer
    rounded-3xl
    px-2
    lg:px-5
    2xl:px-10
    py-5
    lg:py-3
    2xl:py-2
    text-xl
    sm:text-base
    md:text-base
    lg:text-base
    xl:text-base
    2xl:text-base
    hover:text-gray-200
    hover:from-gray-800 
    hover:to-gray-500
    active:text-black
    active:from-gray-400 
    active:to-gray-200
    disabled:text-gray-500 
    disabled:from-gray-300 
    disabled:to-gray-400
    disabled:cursor-not-allowed
}
.botonx {
    @apply
    absolute top-2 right-2 
    flex items-center justify-center
    cursor-pointer
    text-white text-center
    bg-red-600
    border-white border-2 rounded-3xl
    drop-shadow-md
    z-10
    w-8
    lg:w-8
    2xl:w-10
    h-8
    lg:h-8
    2xl:h-10
    px-3
    lg:px-3
    2xl:px-5
    py-1
    lg:py-1
    2xl:py-1
    hover:text-gray-200
    hover:bg-red-800
    active:bg-red-100
}
/* imagen */
.banner {
    @apply
    object-cover place-self-center
    select-none
    rounded-xl drop-shadow-md
    w-full
    h-50
    lg:h-100
    2xl:h-150
}
.banner-overlay {
    @apply 
    absolute inset-0 
    rounded-xl 
    pointer-events-none
}
.banner-wrapper {
    @apply
    relative 
    w-fit mx-auto
}
img {
    @apply
    mx-auto
    object-contain
}
.imagen {
    @apply
    w-24
    sm:h-24
    md:h-30
    lg:h-36
    xl:h-42
    2xl:h-48
    h-24
    sm:w-24
    md:w-30
    lg:w-36
    xl:w-42
    2xl:w-48
    object-cover place-self-center
    rounded-xl drop-shadow-md
}
.imagencar {
    @apply
    w-20
    lg:w-36
    2xl:w-36
    h-20
    lg:h-36
    2xl:h-36
    object-cover place-self-center
    rounded-xl drop-shadow-md
}
.imagendel {
    @apply
    object-cover place-self-center
    w-24
    lg:w-36
    2xl:w-48
    h-24
    lg:h-36
    2xl:h-48
    drop-shadow-md
    border-red-600 border-3 rounded-xl opacity-50 grayscale
}
.imageno {
    @apply
    flex items-center justify-center
    h-24
    w-full
    text-green-700 bg-green-100/50
    border-2 border-dashed border-green-500 rounded-xl 
}
.imagenu {
    @apply
    text-base text-gray-500 
    file:mr-4 file:py-2 file:px-4 
    file:rounded-full file:border-0 
    file:text-base file:font-semibold 
    file:bg-green-50 file:text-green-700 
    hover:file:bg-green-100
}
/* estados */
.admin {
    @apply
    bg-green-500 
}
.box {
    @apply
    bg-red-200 
    cursor-pointer
}
.no {
    @apply
    bg-red-200 
}
.pedcli {
    @apply
    bg-blue-200 
}
.pgral {
    @apply
    bg-green-300 
}
.preci {
    @apply
    bg-yellow-200 
}
.rider {
    @apply
    bg-red-200 
}
.sent {
    @apply
    bg-green-100
    !cursor-not-allowed
}
.si {
    @apply
    bg-green-100 
}
.stoc {
    @apply
    bg-orange-200 
}
.way {
    @apply
    bg-yellow-200 
    cursor-pointer
}
.what {
    @apply
    bg-gray-200 
    cursor-pointer
}