@import "tailwindcss";
/* tabla */
#app {
    @apply
    font-sans
    antialiased
    text-left
    text-black
    mt-0
}
.pestaña {
    @apply
    flex-initial 
    text-white
    hover:bg-green-100
    hover:text-black
    active:bg-green-400
    md:p-2 p-1
}
table {
    @apply 
    w-full
    text-center
}
table th {
    @apply 
    text-lg
    bg-green-800 md:p-2 p-1
    text-white font-bold
}
table td {
    @apply 
    p-3 border
    border-gray-800
    bg-green-100
}
img {
    @apply
    mx-auto
    object-contain
}
.imageno {
    @apply
    h-24 w-full
    md:h-48 md:w-full
    border-2 border-dashed border-green-500 rounded-xl 
    flex items-center justify-center
    text-green-700 bg-green-100/50 my-2
}
.imagen {
    @apply
    h-24 w-24
    md:h-48 md:w-48 
    object-cover place-self-center
    rounded-xl drop-shadow-md
}
.banner {
    @apply
    object-cover place-self-center
    rounded-xl drop-shadow-md
    h-50 w-full
    md:h-150 md:w-full
    select-none
}
.imagendel {
    @apply
    border-red-600 border-3
    h-24 w-24
    md:h-48 md:w-48 
    object-cover place-self-center
    rounded-xl drop-shadow-md
}
.imagenu {
    @apply
    text-sm text-gray-500 
    file:mr-4 file:py-2 file:px-4 
    file:rounded-full file:border-0 
    file:text-sm file:font-semibold 
    file:bg-green-50 file:text-green-700 
    hover:file:bg-green-100
}
.pagina {
    @apply
    flex flex-col 
    md:flex-row w-full
    gap-3 relative items-start
    md:px-0 md:gap-6
}
.bar {
    @apply
    text-white shrink-0
    bg-green-600
    flex flex-col p-2
    md:p-5 h-screen
    md:gap-3
    sticky max-h-screen md:h-screen
    top-0 overflow-y-auto
}
/* texto */
h1 {
    @apply
    text-xl
    md:text-2xl
    font-bold  
    p-4
}
h2 {
    @apply
    text-lg
    md:text-xl
}
h3 {
    @apply
    text-xs
    md:text-sm
}
/* botones */
.botones {
    @apply
    flex flex-col
    gap-1 p-2
    md:gap-3 md:p-4
    items-center
}
.botoncon {
    @apply
    bg-green-400 text-white
    rounded-3xl
    md:px-8 md:py-2
    px-4 py-1
    hover:bg-green-600
    hover:text-white
    active:bg-green-300
    cursor-pointer
    disabled:bg-gray-300 
    disabled:text-gray-400 
    disabled:cursor-not-allowed
}
.botonc {
    @apply
    bg-red-600 text-white
    rounded-3xl
    md:px-6 md:py-2
    px-3 py-1
    hover:bg-red-800
    hover:text-gray-200
    active:bg-red-100
    cursor-pointer
}
.botonflecha {
    @apply
    bg-green-100/50
    rounded-3xl
    md:px-3 md:py-20
    px-1 py-7
    hover:bg-green-300/40
    hover:text-gray-200
    active:bg-gray-100
    cursor-pointer
    disabled:bg-gray-300/0
    disabled:text-gray-400/0
    disabled:hover:bg-gray-50/10
    disabled:hover:text-gray-400/10
    disabled:cursor-default 
}
.botont {
    @apply
    bg-gray-600 text-white
    rounded-3xl
    md:px-6 md:py-2
    px-3 py-1
    hover:bg-gray-800
    hover:text-gray-200
    active:bg-gray-100
    cursor-pointer
    disabled:bg-gray-300 
    disabled:text-gray-400 
    disabled:cursor-not-allowed
}
.botona {
    @apply
    bg-gray-600 text-green-500
    rounded-3xl text-4xl
    md:px-4 md:py-1
    px-2 py-1
    hover:bg-gray-800
    hover:text-gray-200
    active:bg-gray-100
    cursor-pointer
    disabled:bg-gray-300 
    disabled:text-gray-400 
    disabled:cursor-not-allowed
}
.botonx {
    @apply
    absolute top-2 right-2 
    p-0 w-8 h-8 z-10 px-3 py-1
    md:p-0 md:w-8 md:h-8 md:px-6 md:py-2
    cursor-pointer
    flex items-center justify-center
    bg-red-600 text-white 
    border-2 border-white drop-shadow-md rounded-3xl
    hover:bg-red-800
    hover:text-gray-200
    active:bg-red-100
}
select{
    @apply
    text-center text-sm text-gray-400
    w-full p-1
    md:w-50 place-self-center md:p-2
    bg-green-100 border-green-500
    rounded-2xl border-2
    cursor-pointer
}
input{
    @apply
    text-sm text-gray-700
    w-full p-1 px-2
    md:w-50 md:px-4 place-self-center md:p-2
    bg-green-100 border-white
    rounded-xl border-1
    cursor-text
}
input[type="radio"] {
    @apply 
    w-5
    md:w-10
}
.busqueda{
    @apply
    text-sm
    md:p-2 w-full p-1
    bg-green-100 border-white
    rounded-xl border-1
    cursor-text
    object-contain
}
/* miselaneo */
.cuerpo{
    @apply
    w-auto
    min-h-screen 
    bg-green-200
}
.fondo {
    @apply 
    fixed inset-0
    bg-black/70 flex 
    z-40
    justify-center
    items-center
}
.popup{
    @apply
    flex
    flex-col
    bg-green-300
    rounded-2xl 
    translate-z-15
    md:p-5
    md:gap-3
    md:max-h-[90vh]
    p-2 z-50
    gap-1
    max-h-[45vh]
    max-w-[45vh]
    overflow-y-auto
}
form{
    @apply
    flex flex-col
    md:gap-4
    gap-2 
}
/* estados */
.sent{
    @apply
    bg-green-200 
    !cursor-not-allowed
}
.way{
    @apply
    bg-yellow-200 
    cursor-pointer
}
.box{
    @apply
    bg-red-200 
    cursor-pointer
}
.what{
    @apply
    bg-gray-200 
    cursor-pointer
}
.si{
    @apply
    bg-green-200 
}
.no{
    @apply
    bg-red-200 
}
.admin{
    @apply
    bg-green-500 
}
.pgral{
    @apply
    bg-green-300 
}
.pedcli{
    @apply
    bg-blue-200 
}
.preci{
    @apply
    bg-yellow-200 
}
.stoc{
    @apply
    bg-orange-200 
}
.rider{
    @apply
    bg-red-200 
}